<head>
  <div class="banner">
    <h1 class="text-left"><%= @cocktail.name %></h1>
  </div>
</head>

  <body>
    <div class="container">
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li class="list-item"><%= dose.description %>
          <%=dose.ingredient.name.capitalize %>
          <%= link_to "ðŸ—‘ï¸",
                      dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        </li>
        <% end %>
      </ul>
      <div class="container">
        <%= link_to "ADD INGREDIENT" , new_cocktail_dose_path(@cocktail), class: "btn btn-flat" %>
        <%= link_to "BOOZE OVERVIEW", cocktails_path, class: "btn btn-flat" %>
      </div>
    </div>
  </body>
