<div class="container">
  <h2><%= @cocktail.name %></h2>

  <ul>
     <% @cocktail.doses.each do |dose| %>
    <li class="list-item"><%= dose.description %>,
      <%=dose.ingredient.name.capitalize %>
      <%= link_to "ðŸ—‘ï¸",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>
  </ul>

 <%= link_to "ADD INGREDIENT" , new_cocktail_dose_path(@cocktail), class: "btn btn-flat" %>
<%= link_to "BACK TO BOOZE OVERVIEW", cocktails_path, class: "btn btn-flat" %>
</div>
